.tool-bar {
  background-color: #2d3e50;
  position: fixed;
}
  .tool-bar .tool-button {
    background: none;
    color: rgb(125, 146, 236);
    border: none;
    padding: 0.4em 0.7em;
    cursor: pointer;
  }
    .tool-bar .tool-button:hover {
      color: rgb(244, 245, 233);
    }
    .tool-bar .tool-button:focus {
      outline: 0;
    }
  .tool-bar .tool-button-active {
    color: rgb(244, 245, 233);
  }
