.tool-bar {
  background-color: #2d3e50;
  position: fixed;
  z-index: 4;
}
  .tool-bar .tool-button {
    background: none;
    color: rgb(125, 146, 236);
    border: none;
    padding: 0.4em 0.7em;
    cursor: pointer;
  }
    .tool-bar .tool-button:hover {
      color: rgb(244, 245, 233);
    }
    .tool-bar .tool-button:focus {
      outline: 0;
    }
  .tool-bar .tool-button-active {
    color: rgb(244, 245, 233);
  }
.sketchpad {
  overflow: scroll;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  font-family: monospace;
}
  .sketchpad canvas {
    display: block;
  }
